.header {
    overflow: hidden;
    padding-top: 0.7em;
    margin: auto;
    height: 5em;
    width: auto;
    animation: pulse 5s infinite;
}
  
  @keyframes pulse {
    0% {
      background-color: blue;
    }
    
  }

  .img-header {
    margin-left: 25em;  
  }
  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(70px, 0);
    }
    
    80% {
      transform: translate(-50px, 0);
    }
  }

  .header-right {
    float: right;
    margin-right: 4.5em;
  }
  
  .jss6 {
      /* color: #E50404; */
      height: 500px;
      display: flex;
      position: relative;
      font-size: 2rem;
      font-style: bold;
      align-items: center;
      background-size: cover;
      justify-content: center;
      
      background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), 
      /* url(https://vignette.wikia.nocookie.net/serien/images/f/f9/Pokemon_Poster01.jpg/revision/latest?cb=20190214135305&path-prefix=de);
      background-repeat: no-repeat;
      background-position: center; */
      
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
   padding: 10px;
   margin-top: 90px;
  
   
  }
  .button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 90px;
  }
 
  .jss6 h1{
    position: relative;
    z-index: 0;
    display: fle;
  }

  .jss6 h1::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.678);
    z-index: -1;
  }


  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
      color: #DCB677;
    }
  }